<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Weather App</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h1>{{title}}</h1>
    <p>Created by {{name}}</p>
    <form>
        <input type="text" name="some text" id="">
        <button type="submit">Submit</button>
    </form>
    {{>nav}}
    <script src="/js/fetch.js"></script>
    <p id="message"></p>
</body>

</html>